<div id="all">
  <div style="text-align: center">
    <h1>
      {{ title }}
    </h1>
  </div>

  <div>
    <p>
      Consumicion:
      <select name="comidas" [(ngModel)]="comidaSeleccionada">
        <option *ngFor="let comida of getComidas(); let i = index" [value]="i">
          {{ comida[0] }} ({{ comida[1] | currency: "EUR":"symbol":"1.2-2":"es" }})
        </option>
      </select>
      <button class="boton" type="button" (click)="addComida()">+</button>
    </p>

    <p><b>Consumiciones:</b></p>

    <table>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
      </tr>
      <tr *ngFor="let com of cuenta; let i = index">
        <td>{{ com[0] }}</td>
        <td id="precio">
          {{ com[1] | currency: "EUR":"symbol":"1.2-2":"es" }}
        </td>
        <button class="boton" type="button" (click)="delComida(i)">-</button>
      </tr>
      <tr>
        <td><b>TOTAL</b></td>
        <td>
          <b>{{ total | currency: "EUR":"symbol":"1.2-2":"es" }}</b>
        </td>
      </tr>
    </table>

    <p>
      <b></b>
    </p>
  </div>
</div>
